/* * {
  outline: 1px solid red !important;
} */

.workout {
  position: relative;
  flex-shrink: 0;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 5px 0px;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.workout.light {
  background-color: rgb(204, 204, 202);
  box-shadow: rgba(72, 73, 74, 0.2) 0px 8px 24px;
}
.workout.dark {
  background-color: rgb(50, 49, 54);
  box-shadow: rgba(184, 186, 187, 0.2) 0px 8px 24px;
}

.workout.active {
  flex: none;
  z-index: 2;
  padding-top: 4px;
}

.workout__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout__title-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout__title {
  margin: 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout__subtitle {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.workout__add-exercise-btn {
  color: var(--orange);
  text-transform: uppercase;
  margin-left: 10px;
}

.workout__exercise-count {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout__title-input.light {
  background-color: var(--light-input);
}
.workout__title-input.dark {
  background-color: var(--dark-input);
}

.workout__delete-btn {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 5px;
}

/* Light theme specific styles */
.workout__title.light,
.workout__exercises_header.light,
.workout__exercise-count.light,
.workout__exercises_name.light,
.workout__exercise-muscle,
.workout__exercise-order-number.light,
.workout__drag-order-container.light,
.workout__icon.light,
.workout__controls-button.light,
.workout__set-order-number.light {
  color: var(--dark-text-color);
}

/* Dark theme specific styles */
.workout__title.dark,
.workout__exercises_header.dark,
.workout__exercise-count.dark,
.workout__exercises_name.dark,
.workout__exercise-muscle.dark,
.workout__exercise-order-number.dark,
.workout__drag-order-container.dark,
.workout__icon.dark,
.workout__controls-button.dark,
.workout__set-order-number {
  color: var(--light-text-color);
}

.workout__title-input.light,
.workout__set-reps.light,
.workout__set-weight.light {
  background-color: var(--light-input);
}
.workout__title-input.dark,
.workout__set-reps.dark,
.workout__set-weight.dark {
  background-color: var(--dark-input);
}

.pencil-icon {
  margin-left: 5px;
}

#edit-icon {
  color: var(--orange);
  margin-right: 10px;
}

#expand-icon,
#collapse-icon {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--orange);
}

#delete-icon {
  margin-left: 10px;
  color: var(--orange);
  cursor: pointer;
}
#collapse-icon {
  padding-left: 10px;
}

#delete-icon {
  padding-right: 10px;
}

.workout__expand-btn {
  position: absolute;
  top: 5px;
  left: 0;
  margin-left: 10px;
}

.workout__expand-btn,
.workout__delete-btn,
.workout__remove-exercise-btn,
.workout__edit-title-btn,
.workout__close-title-btn,
.workout__save-title-btn {
  padding: 0;
  background: none;
  color: var(--dark-text-color);
  border-radius: 4px;
  font-size: 1.4em;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout__expand-btn:hover,
.workout__delete-btn:hover {
  border-style: none;
}

.workout__no-exercise-message {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-text-color);
  margin: 20px;
  text-align: center;
}

.workout__exercises-header-container,
.workout__each-exercise {
  display: grid;
  grid-template-columns: 3fr 0.25fr 0.65fr 0.65fr 0.25fr;
  align-items: center;
  width: 100%;
}

.workout__exercise-column {
  grid-column: 1;
  display: flex;
  align-items: center;
}

.workout__exercise-info {
  display: flex;
  align-items: center;
  width: 100%;
}
.workout__set {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.workout__sets-column,
.workout__weights-column,
.workout__reps-column,
.workout__delete-set-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.workout__no-delete-set-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workout__set-order-number {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 6px;
  text-align: center;
}

.workout__set-weight,
.workout__set-reps {
  width: 65%;
  margin: 2px;
  box-sizing: border-box;
}

.workout__no-delete-set-btn {
  margin: 2px;
  box-sizing: border-box;
}

.workout__blank {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.workout__add-set-btn {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 10px;
}

.workout__delete-set-btn {
  color: var(--orange);
  cursor: pointer;
  margin-left: 5px;
  padding-top: 10px;
}

.workout__remove-exercise-btn {
  grid-column: 6;
  justify-self: end;
  margin-right: 10px;
}

.workout__each-exercise {
  border-top: 1px solid #dedede;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 3fr 0.25fr 0.65fr 0.65fr 0.25fr auto;
  align-items: center;
  width: 100%;
}

.workout__exercises_header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.workout__drag-order-container {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}

.workout__exercise-order-number {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.workout__exercise-drag {
  cursor: grab;
}

.workout__exercise-details {
  grid-column: 1;
  margin-left: 0.3rem;
  width: 100%;
}

.workout__exercise-name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.workout__exercise-muscle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.workout__add-set-btn {
  color: #678168;
  cursor: pointer;
  margin: 0;
}

.workout__add-set-btn:hover {
  color: #4caf50;
}

.workout__add-set-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout__exercise-controls {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.workout__controls {
  top: 50%;
}

.workout__controls.prev {
  left: 20px;
  display: flex;
  flex-direction: row;
}

.workout__controls.next {
  right: 20px;
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .workout {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .workout__add-set-btn {
    margin-bottom: 10px;
  }
}
