.exercise-search {
  display: flex;
  width: 100%;
  max-width: 1024px;
  padding: 0;
  margin: 1px;
}

.exercise-search.light {
  background-color: rgb(204, 204, 202);
  box-shadow: rgba(72, 73, 74, 0.2) 0px 8px 24px;
}
.exercise-search.dark {
  background-color: rgb(50, 49, 54);
  box-shadow: rgba(184, 186, 187, 0.2) 0px 8px 24px;
}

.exercise-search__search-input-container {
  flex: 1 0 calc(35.3% - 4px);
  margin: 5px;
  max-width: calc(33.333% - 10px);
}

.exercise-search__search-text-input,
.exercise-search__muscle,
.exercise-search__equipment {
  width: 100%;
  padding: 2px;
  margin: 2px;
}

.exercise-search__muscle.light,
.exercise-search__equipment.light {
  background-color: var(--light-input);
  color: var(--dark-text-color);
}

.exercise-search__muscle.dark,
.exercise-search__equipment.dark {
  background-color: var(--dark-input);
  color: var(--dark-text-color);
}

/* Adjustments for mobile devices */

@media (max-width: 768px) {
  .exercise-search {
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
  }
  .exercise-search__search-input-container {
    flex: 1;
  }

  input::placeholder {
    color: var(--orange);
    font-size: 0.8rem;
    width: 100%;
    padding-left: 5px;
  }
  .exercise-search__search-text-input,
  .exercise-search__muscle,
  .exercise-search__equipment {
    padding: 0;
    margin: 0;
  }
}
